body{
    font-family: Arial, Verdana, sans-serif;
    
   }

h1{
    
    font-size: 8em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 0;
}


figcaption {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}
p.italic {
    text-align: center;
    font-style: italic;
    margin-top: 0;
    font-size: 1.2em;
    font-weight: lighter;
}

div.center {
    display: flex;
    align-items: center;
    justify-content: center 
    
}

img.border {
    border: 2px solid #c0cbff;
    margin-top: 1em;
    margin-bottom: 0em;
}

.one {
    margin-top: 3em;
    background-color: #c0cbff;
    padding: 0.5em;
    width: 17em;
    border-top: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
    
}

.two {
    margin: 0em;
    background-color: #ffe4df;
    padding: 0.5em;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
    
}
.three {
    margin: 0em;
    background-color: #de9bb2;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    border-bottom: 1px solid #333;
    width: 17em;
}