
body {
    font-family: "Trebuchet MS",  Arial, Verdana, sans-serif;
    background-color: #fff3f5; 
}

h1 {
    font-style: oblique;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    color: #ff4162;
}

h2, h3, p {
    text-align: center;
}

h2{
    padding-top: 3em;
    color: #ff748c;
}

p.italic{
    font-style: italic;
}

figure#floating{
    float: right;
    
}

section#dlbox {
    position: absolute;
    top: 200px;
    right: 40px;
    width: auto;
    border: 2px dotted black;
    margin: 2em;
    padding: 1em;
}

div.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}


caption {
    text-transform: uppercase;
    font-weight: bold;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #808080;
    
}
th {
    font-weight: bold;
    color: white;
    background: #ff748c;
    
}

.bold {
    font-weight: bold;
}

.rightborder {
    border-right: solid;
    border-width: 1px;
    border-color: #808080;
}


table{
    border-spacing: 0;
    border-collapse: collapse;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #808080;
}

.gray {
    background: #ffdae0
;
}