body {
    font-family: 
    
    background-color: #ffccff;
    background: -webkit-linear-gradient(right, #fff, #ff80ff); /* For Safari 5.1 to 6.0 *
    background: -o-linear-gradient(right,#fff,#ff80ff); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,#fff,#ff80ff); /*Fx 3.6-15*/
    background: linear-gradient(right, #fff, #ff80ff); /*Standard*/
}

h1 {
    color: rgb(65,105,225);
    font-weight: bolder;
}

h2 {
    color: #229966;
    font-weight: bold
}

p , li {
    padding-left: 40px;
}

dt {
    color: red;
    font-size: 1.2em;
}

li {
    font-family: "Comic Sans Ms";
    color: #5b5b56;
    font-size: 0.95em;
    border: 3px solid #ff00ff;
    
}

dl {
    font-style: italic;
    color: rgb(255,20,100);
}

ul, ol {
    border-style: dotted;
    border-width: 2px;
}

figcaption {
    font-size: 0.7em;
    font-weight: bold;
}

.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: green;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}