body {
    font-family: Arial, Verdana, sans-serif;
    
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #808080;
    
}
th {
    font-weight: bold;
    color: white;
    background: red;
    
}

.bold {
    font-weight: bold;
}

.rightborder {
    border-right: solid;
    border-width: 1px;
    border-color: #808080;
}


table{
    border-spacing: 0;
    border-collapse: collapse;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #808080;
}

.gray {
    background: #e5e5e5;
}
