body{
    font-family: Arial, Verdana, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-weight: lighter;
    color: #808080
}

input[type="text"] {
    color : black;
}
input[type="submit"] {
    font-weight : bold;
}

input[placeholder]{
    font-style: italic;
}

legend {
    color: #808080;
    font-weight: lighter;
    font-size: 1.1em;
}

fieldset {
    color: black;
}